<%# the script and link tag below will be the external CSS and JS for any page uses this file
    =========================================================================================
    they will be extracted to layout.ejs and putted in script and style tags
%>
<script defer src="/js/book-input-form.js"></script>
<link rel="stylesheet" href="/css/book-input-form.css">
<%# ========================================================================================= %>

<div class="form-row">
  <div>
    <label for="title">Title</label>
    <input type="text" required name="title" id="title" value="<%= book.title%>">
  </div>
  
  <div>
    <label for="author">Author</label>
    <select name="authorId" required id="author">
      <% authors.forEach(author=> { %>
        <% if (author.id==book.authorId) { %>
          <option selected value="<%= author.id %>" label="<%= author.name %>">
        <% }else {%>
          <option value="<%= author.id %>" label="<%= author.name %>">
        <% }%>
      <% }) %>
    </select>
  </div>
</div>

<div class="form-row">
  <div>
    <label for="publish-date">Publish Date</label>
    <input type="date" required name="publishDate" id="publish-date"
      value="<%= book.publishDate ? book.publishDate.toISOString().split('T')[0]:''%>">
  </div>
  
  <div>
    <label for="page-count">Page Count</label>
    <input type="number" required name="pageCount" min="<%= book.minPageCount %>" id="page-count" value="<%= book.pageCount%>">
  </div>
</div>

<div class="form-row">
  <div class="form-item-shrink">
    <label for="cover" <%- imgRequired?"":'class="not-required"' %>>Cover</label>
    <%# this is the image cover image file %>
    <label class="file-input-wrapper"><input type="file" <%- imgRequired?"required":"" %> name="cover" accept="image/jpeg,image/webp,image/bmp,image/png,image/gif" id="cover"></label>
  </div>
  
  <div>
    <label for="description">Description</label>
    <textarea name="description" id="description" cols="30" rows="10"><%= book.description%></textarea>
  </div>
</div>