<link rel="stylesheet" href="/css/books.css">

<h2>Search Books</h2>
<%# now the method is get because we wants to search %>
<form action="/books" method="GET">
  <div class="input-fields" id="input-fields" >
    <div class="form-row" id="input-fields-first-row">
      <div>
          <label for="title">Title</label>
          <input type="text" id="title" name="title"
            value="<%= searchOptions.title  %>">
      </div>
      <div>
          <label for="author">Author</label>
          <select name="authorId" id="author">
            <option value="">
              <% authors.forEach(author=> { %>
                <% if (author.id==searchOptions.authorId) { %>
                  <option selected value="<%= author.id %>" label="<%= author.name %>">
                <% }else {%>
                  <option value="<%= author.id %>" label="<%= author.name %>">
                <% }%>
              <% }) %>
          </select>
      </div>
    </div>
    <div class="form-row" >
      <div>
        <label for="created-after">Created After</label>
        <input type="date"  name="createdAfter" id="created-after"
              value="<%= searchOptions.createdAfter%>">
      </div>
      <div>
          <label for="created-before">Created Before</label>
          <input type="date"  name="createdBefore" id="created-before"
                value="<%= searchOptions.createdBefore%>">
      </div>
    </div>
    <div class="advanced-search">
      <div class="form-row">
        <div>
          <label for="published-after">Published After</label>
          <input type="date"  name="publishedAfter" id="published-after"
                value="<%= searchOptions.publishedAfter%>">
        </div>
        <div>
            <label for="published-before">Published Before</label>
            <input type="date"  name="publishedBefore" id="published-before"
                  value="<%= searchOptions.publishedBefore%>">
        </div>
      </div>
      <div class="form-row">
        <div>
          <label for="min-pagescount">Minimum Pages Count</label>
          <input type="number" min="<%= minPagesCount %>" name="minPagesCount" id="min-pagescount"
                value="<%= searchOptions.minPagesCount%>">
        </div>
    
        <div>
          <label for="max-pagescount">Maximum Pages Count</label>
          <input type="number"  min="<%= minPagesCount %>"  name="maxPagesCount" id="max-pagescount"
                value="<%= searchOptions.maxPagesCount%>">
        </div>
      </div>
      <a class="advanced-search-hide" href="#input-fields-first-row">Hide Advanced Search ...</a>
    </div>
  </div>
  <a class="advanced-search-show" href="#input-fields">Show Advanced Search ...</a>
  <div class="form-row">
    <div class="btn-row">
      <a href="/books" class="btn btn-danger">Reset</a>
      <button type="submit" class="btn btn-primary">Search</button>
    </div>
  </div>
</form>
<br>
<%- include('../partials/books',{books,largeCover:false}) %>