<link rel="stylesheet" href="/css/books.css">
<script defer src="/js/lazysizes.min.js"></script> 

<% const coverParentClass = largeCover ? "cover-parent-lg" : ""; %>
<div class="cover-parent <%= coverParentClass %>">
  <% books.forEach(book=> { %>
    <a href="/all-books/<%= book.id %>">
      <img
      class="lazyload"
      src="<%= `${book.coverImageURL}?tr=n-place_holder` %>"
      data-sizes="auto"
      data-src="<%= `${book.coverImageURL}?tr=n-book_cover` %>"
      data-srcset="<%= `${book.coverImageURL}?tr=n-book_cover,w-400` %> 400w,
      <%= `${book.coverImageURL}?tr=n-book_cover,w-800` %> 800w,
      <%= `${book.coverImageURL}?tr=n-book_cover,w-1200` %> 1200w">
    </a>
  <% }) %>
</div>