<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <%# this for the hint that will be given to imagekit service %>
  <meta http-equiv="Accept-CH" content="DPR, Width">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%# script variable below will include js tags that extracted by express itself from the rendered ejs files  %>
  <%- script %>
  <link rel="stylesheet" href="/css/shared/fonts.css">
  <link rel="stylesheet" href="/css/shared/variables.css">
  <link rel="stylesheet" href="/css/shared/header.css">
  <link rel="stylesheet" href="/css/shared/buttons.css">
  <link rel="stylesheet" href="/css/shared/form.css">
  <link rel="stylesheet" href="/css/main.css">
  <%- style %>
  <noscript>
    <%# for styling noscript tag when js disabled %>
    <style>
      .no-js-wrapper {
        text-align: center;
        color: var(--color-text-error);
        font-size: 1.2rem;
        padding: var(--gap-main);
        margin-bottom: var(--gap-main);
        border: 1px solid currentColor;
      }
    </style>
  </noscript>
  <link rel="shortcut icon" href="/images/mybrary.png" type="image/png">
  <title>Mybrary</title>
</head>
<body>
  <div class="container">
    <%- include('../partials/header') %>
    <div class="inner-container">
      <div class="no-js-wrapper">
        <noscript>Javascript is disabled in your browser some of the website features will not work ❌</noscript>
      </div>
      <%- include('../partials/error-message') %>
      <%- body %>
    </div>
  </div>
</body>
</html>