<h2><%= author.name %></h2>
<a href="/all-authors/<%= author.id %>/edit">Edit</a>
<%- include('../partials/delete-form',{url:`/all-authors/${author.id}`}) %>

<% if (locals.books && books.length) { %>
  <h2>Books By Author</h2>
  <% books.forEach(book => { %>
    <div>
      <img width="100" height="150" src="<%= `${book.coverImageURL}?tr=n-book_cover` %>"
      srcset="
      <%= `${book.coverImageURL}?tr=n-book_cover,w-400` %> 400w,
      <%= `${book.coverImageURL}?tr=n-book_cover,w-800` %> 800w,
      <%= `${book.coverImageURL}?tr=n-book_cover,w-1200` %> 1200w">
      <div>Created at: <%= book.createAt.toISOString().split('T')[0]%></div>
      <div>Published at: <%= book.publishDate.toISOString().split('T')[0]%></div>
    </div>
  <% }) %>
<% } %>