<%# the link tag below will be extracted and putted in layout.ejs in the variable style %>
<%# ==================================================================================== %>
<link rel="stylesheet" href="/css/authors.css">
<%# ==================================================================================== %>

<h2>Search Authors</h2>
<%# now the method is get because we wants to search %>
<form action="/authors" method="GET">

  <div class="form-row">
    <div>
      <label for="name">Name</label>
      <input type="text" id="name" name="name"
        value="<%= searchNameQuery  %>">
    </div>
  </div>
    <div class="form-row">
      <div class="btn-row"><button type="submit" class="btn btn-primary">Search</button></div>
    </div>
</form>
<br>
<div class="authors-parent">
  <% authors.forEach(author=> { %>
      <div class="author-row">
        <h3><%= author.name %></h3>
        <div class="btn-row">
          <a href="/authors/<%= author.id %>" class="btn btn-primary">View</a>
          <a href="/authors/<%= author.id %>/edit" class="btn btn-primary">Edit</a>
          <%# we should pass author.id only like this because it's string is a nodejs string (not ejs string) %>
          <%- include('../partials/delete-form',{url:`/authors/${author.id}`}) %>
        </div>
      </div>
  <% }) %>
</div>